@charset "UTF-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
body {
	background: #F8F8FA;
	font-size: 15px;
	font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 15px;
}
.tinted-image-sal {
	background: 
    /* top, transparent red, faked with gradient */ 
    linear-gradient(  rgba(255, 0, 0, 0.45),  rgba(255, 0, 0, 0.45)  ),     /* bottom, image */
    url(../img/textura_gris.jpg);
}
a:hover {
	text-decoration: none !important;
}
.go-top {
	position: fixed;
	bottom: 1em;
	right: 1em;
	text-decoration: none;
	color: #fff;
	background-color: #3575F7;
	font-size: 20px;
	padding: .25em .55em;
	display: none;
}
.go-top:hover {
	background-color: rgba(0, 0, 0, 0.6);
}
.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
	background-color: #1aae79 !important;
	border-color: inherit !important;
	color: #f6f6f6;
}
.dropdown-menu {
	background: #1aae79;
	border: none;
	padding: 0;
	padding-top: 16px;
	border-radius: 0px;
	min-width: 8em;
	font-size: 0.95em;
	width: 125px;
}
.dropdown-menu li {
	border: 0;
	padding: 6px 17px;
	border-bottom: none;
}
.dropdown-menu li:last-child {
	border: 0;
	padding: 6px 17px;
	border-bottom: 0;
}
.dropdown-menu li a {
	color: #333;
}
.dropdown-menu li a:hover {
	color: #fff;
	text-decoration: none;
}

.carousel-control-next, .carousel-control-prev {
	top: 130px;
}


  /* ---------Animación---------- */




  /* ---------Scroll1---------- */
.title-upseller{
	text-transform: uppercase;
    display: flex;
    width: 40%;
    margin-left: 2em;
}

.txt-scroll1{
	padding-top: 20em;
    width: 40%;
    display: flex;
    margin-left: 5em;
    align-items: center;
}

.btn-play{
	width: 100%;
	margin: 0 auto;
	position: absolute;
    text-align: center;
    top: 15em;
}

.icn_play{
	width: 72px;
	height: auto;
	top: 20%
}

  /* ---------Scroll2---------- */

.img-ourmodel{
	width: 160px;
	height: auto;
}

  /* ---------Scroll3---------- */
.process{
 background-image: url("img/bg.png");
 width: 1920px;
 height: auto;
}




  /* ---------Scroll1---------- */


#mainNav .navbar-nav .nav-item .nav-link {
	font-size: 100%;
	font-weight: 500;
	padding: 0.75em 0;
	letter-spacing: 0.5px;
	color: #000;
	font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 1;
}
#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
	color: #333;
}
#mainNav .navbar-toggler {
	font-size: 28px;
	padding: 3px;
	background: none;
	color: #fff;
	margin-top: 48px;
	clear: none;
	float: right;
}
section {
	padding: 40px 0 0 0;
}
#textura {
	padding: 0;
	margin-top: 0px;
	height: auto;
}
#textura p {
	font-size: 0.75em;
	line-height: 1.2;
	color: #fff;
	text-align: center;
	padding-top: 1.2em;
}
section h2.section-heading {
	font-size: 2.4em;
	text-align: left;
	line-height: 1.06em;
	position: relative !important;
}
section#proyecto h2.section-heading {
	margin-bottom: 15px;
}
section#ourmodel h2.section-heading {
	color: #212529;
	width: 50%;
    text-align: center;
    margin: 0 auto;
}
section#ubicacion h2.section-heading {
	padding-left: 30px;
	color: #fff;
}
h1 h1, h2, h3, h4, h5, h6 {
	font-weight: 600;
	font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	letter-spacing: .7px;
}
#proyecto h3 {
	font-size: 2.8em;
	clear: left !important;
	display: block;
	float: left;
	margin-top: 0px;
	margin-bottom: .18em;
	line-height: 1;
	font-weight: 400;
}
.gris20 {
	font-size: 1em;
	margin-left: 12px;
	clear: right;
	float: left;
	display: block;
	color: #fff;
	margin-top: 19px;
}
.blanco20B {
	font-size: 20px;
	color: #fff;
	line-height: 26px;
	width: 100%;
	clear: both;
	font-weight: 500 !important;
	letter-spacing: .35px;
}
#proyecto {
}
#proyecto p {
	float: left;
	margin-top: .3em;
	color: #fff;
	font-weight: 300;
}
#proyecto p:last-child {
	padding-bottom: 25px;
	border-bottom: 1px solid;
	margin-bottom: 0;
}
#proyecto p.blanco20B {
	margin-top: 10px;
}
p {
	line-height: 1.5;
}
#proyecto img {
	width: 100%;
	height: auto;
}
#contacto2 img {
	width: 100%;
	height: auto;
	max-width: 507px;
}
.nonemobi {
	display: none;
}
.nonedesk {
	display: block;
}

#unidades .map.maphilighted {
	width: 100% !important;
	max-width: 395px;
	background-repeat: no-repeat;
	margin: 0 auto;
}
#descargaPDF .bloque_l {
	float: right;
	margin: -5px 0 0 0;
}
#descargaPDF .bloque_l .btn_ladrillos {
	font-size: 16px;
	padding: 13px 24px;
	background-color: #1aae79;
	box-shadow: 5px 5px 0px rgba(0, 0, 0, .6);
}
#verMAPA .bloque_l {
	float: right;
	margin: -23px 0px;
}
#verMAPA .bloque_l .btn_ladrillos {
	font-size: 16px;
	padding: 13px 48px;
	background-color: #1aae79;
	box-shadow: 5px 5px 0px rgba(0, 0, 0, .6);
}
.bloque_l a.btn_ladrillos {
	color: #fff !important;
}
.bloque_l a:hover.btn_ladrillos {
	text-decoration: none;
	color: #F6F6F6 !important;
}
#ubicacion_contenido {
	padding-top: 0px;
	background: #4d4d4f;
}
#ubicacion_contenido .blanco20 {
	width: 100%;
	clear: both;
	color: #fff;
	margin: 30px 0 45px 0;
}
#ubicacion_contenido img {
	width: 100%;
	height: auto;
	margin-bottom: 15px;
}
#ubicacion_contenido .bloque_l .btn_ladrillos {
	font-size: 19px;
	padding: 13px 24px;
	background-color: #039;
	background: #e5e5e5;
	box-shadow: 5px 5px 0px rgba(0, 0, 0, .5);
}
#ubicacion_contenido .bloque_l a.btn_ladrillos {
	color: #3c518a !important;
}
#ubicacion_contenido .bloque_l a:hover.btn_ladrillos {
	text-decoration: none;
	color: #333 !important;
}
section#contacto2 h3 {

	font-size: 2em;
	margin: 0 0 30px 0;
	font-weight: 400;
}
section#contacto2 p {
	color: #fff;
	margin-bottom: 30px;
}
section#contacto h2.section-heading {
	padding-left: 30px;
	color: #fff;
}
section#contacto2 .form-control {
	width: 100%;
	display: inline-block;
	border-radius: 0;
}
section#contacto2 label {
	width: 100%;
	display: inline-block;
	color: #fff;
}
#contacto2 img {
	margin-bottom: 24px;
}
.btn-xl {
	font-size: 16px;
	padding: 12px 36px;
	border: none;
	border-radius: 0;
}
.btn {
	font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 500;
	letter-spacing: 1px;
}
.btn:hover {
	color: #e5e5e5;
	text-decoration: none;
}
.text-danger {
	color: #dc3545 !important;
	text-align: right;
}
section#textura2 {
	background: #4f4f4f;
	padding: 0;
	margin-top: 0px;
	height: 112px;
}
#mainNav {
	padding-top: 4px;
	padding-bottom: 2px;
	-webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
	-moz-transition: padding-top 0.3s, padding-bottom 0.3s;
	transition: padding-top 0.3s, padding-bottom 0.3s;
	border: none;
}
.navbar-brand {
	padding-top: 0;
}
.navbar-brand img {
	position: absolute;
	margin-top: -4px;
	max-width: 90px;
}
.navbar-dark .navbar-brand {
	max-width: 200px;
	width: 100%;
	display: block;
	float: left;
	clear: none;
}
.navbar-expand-lg > .container, .navbar-expand-lg > .container-fluid {
	display: block;
}
.navbar-nav {
	display: block;
	clear: both;
}
.nav-link.js-scroll-trigger.ini {
	padding-top: 2.4em !important;
}
.collapsing {
	clear: both;
}

#ourmodel .titulo {
	background: none;
}
#proyecto .col-lg-4 {
	margin-top: 1rem;
}
.form-group {
	margin-bottom: -10px;
}
textarea {
	min-height: 100px;
}

#planta {
	margin-top: 120px;
}
#submenu-unidades {
	background:#1aae79;
	text-align: center;
	margin: 20px 0 0px 0 !important;
	padding:10px;
}
#submenu-unidades a {
	font-size: 1em;
	padding: .0em 1em !important;
	color: #fff;
	border-right: 1px solid #f6f6f6;
	display: inline-block;
}
#submenu-unidades a:last-child {
	border-right: none;
}
#submenu-unidades a:hover {
	text-decoration: none;
	color: #f6f6f6;
}
#separador {
	background:#4d4d4f;
	margin: 0 !important;
	padding:10px;
	height:55px;
}
#separador-v {
	background: #1aae79;
    margin: 0 !important;
    padding: 10px;
    height: 35px;

}
#pisos.pb .superficies {
	background: #1aae79;
}
#pisos.pp #unidad-contenido .superficies, #pisos.sp #unidad-contenido .superficies {
	background: #ffcd62;
}
#pisos.pp #unidad-contenido .superficies.cele, #pisos.sp #unidad-contenido .superficies.cele {
	background: #00b3be;
}
#planta img {
	width: 100%;
	max-width: 1140px;
	height: auto;
}
.back img {
	width: 100%;
	display: inline-block;
	height: 100px;
}
.back {
	background: url(../img/textura_gris2.jpg) no-repeat left;
	display: inline-block;
	height: auto;
}
#planta div.col-lg-12 div {
	max-width: 100%;
	height: auto;
	background-repeat: no-repeat;
	background-size: 100%;
	margin: 0 auto;
}
#pisos h2.section-heading {
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 76px 0 0 0;
	width: 100%;
	display: inline-block;
	height: 100%;
	text-align:center;
}

#pisos .col-lg-3 {
	padding-right: 0px;
}
#pisos .col-lg-9 {
	padding-left: 0px;
}
.detalleblanco {
	background: #fff;
	padding-left: 35px;
	padding-top: 0px;
	padding-right: 0px;
	font-size: 0.9em;
	padding-bottom: 60px;
}
.detalle {
	background-image: url(../img/back_detalle.jpg);
	background-color: #4d4d4f;
	background-repeat:repeat-y;
	background-position:left top;
}
.detalle p {
	line-height: 1.2em;
	margin-bottom: 10px;
}

.planos {
	padding-top: 20px;
	padding-bottom: 60px;
}
#pisos .planos img {
	width: 100%;
	max-width: 970px;
}
.sep {
	margin-left: 12px;
	line-height: 10px !important;
}
.py-5 {
	background: #fff;
	padding-top: 1em !important;
	padding-bottom: 1em !important;
}
#pisos.pb section#unidadA, #pisos.pb section#unidadB, #pisos.pp section#unidadA, #pisos.pp section#unidadB, #pisos.sp section#unidadA, #pisos.sp section#unidadB {
	padding-top: 0 !important;
}


#ourmodel {
	background-position: left -21px top 41px;
	height: 130px;
}

#descargaPDF {
	background-image: url(../img/back_descargaPDF.jpg);
	background-position: center top;
	background-color: #4d4d4f;
	background-repeat: no-repeat;
	height: 130px;
}
#verMAPA {
	background-image: url(../img/back_googleMAPs.jpg);
	background-position: left top;
	background-color: #4d4d4f;
	background-repeat: no-repeat;
	height: 130px;
}
#ubicacion {
	background-image: url(../img/back_ubicacion.jpg);
	background-position: left -21px top -30px;
	background-color: #4d4d4f;
	background-repeat: no-repeat;
	height: 130px;
}
#contacto {
	background-image: url(../img/back_contacto.jpg);
	background-position: left -21px top -30px;
	background-repeat: no-repeat;
	height: 130px;
	color: #fff;
}
#pisos.pb #unidadA, #pisos.pb #unidadB {
	background-image: none;
	background-color: #fff;
	height: 153px;
	color: #1aae79 !important;
}
#pisos.pp #unidadA, #pisos.sp #unidadA {
	background-image: none;
	background-color: #fff;
	height: 153px;
	color: #ffcd62 !important;
}
#pisos.pp #unidadB, #pisos.sp #unidadB {
	background-image: none;
	background-color: #fff;
	height: 153px;
	color: #00b3be !important;
}
#pisos h2 span  {
	font-weight:300;
}
#contacto2 {
	padding-bottom: 75px;
}

#unidades2 .planta0 a h3 {
	color: #00af78;
}
#unidades2 .planta1 a h3 {
	color: #ffcd62;
}
#unidades2 .planta2 a h3 {
	color: #00b3be;
}
#unidades2 p {
	margin-bottom: 0;
}
#proyecto h3.sup {
	color: #00af78;
}
#proyecto h3.coch {
	color: #ffcd62;
}
#proyecto h3.uni {
	color: #00b3be;
}
#proyecto .col-lg-3.titu {
	margin-bottom: 15px;
}
#planta h2 {
    color: #00af78;
    font-size: 2.4em;
    font-weight: bold;
    line-height: 2.1em;
}
.pp #planta h2 {
    color: #ffcd62;
}
.sp #planta h2 {
    color: #00b3be;
}
#unidad-contenido {
    padding-top:0px;
}
#unidad-contenido strong {
    font-weight:500 !important;
	
	display:block;
}
#pisos .superficies {

    background: #222;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.4em;
    font-weight: 500;
    letter-spacing: .5px;
    width: 150px;
    padding: 3px 0;

}
#proyecto.especificaciones ul {
    font-weight: 300;
    margin-top: 0px;
	padding-left:25px;
}
#proyecto .especificaciones2 ul {
    font-weight: 300;
    margin-top: -30px;
	padding-left:25px;
}

@media (min-width: 768px) {
#planta .subm a {
	font-size: 1em;
	padding: .0em 1.3em !important;
	color: #000;
	border-right: 1px solid #3c518a;
}

}

@media (min-width: 992px) {

#proyecto .especificaciones ul {
    font-weight: 300;
    margin-top: 40px;
	padding-left:25px;
}
#proyecto .especificaciones2 ul {
    font-weight: 300;
    margin-top: 40px;
	padding-left:25px;
}

.detalleblanco {
	background: #fff;
	padding-left: 35px;
	padding-top: 70px;
	padding-right: 15px;
	font-size: 0.9em;
	padding-bottom: 60px;
}
#pisos .col-lg-3 {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
}
#pisos .col-lg-9 {
    -ms-flex: 0 0 80%;
    flex: 0 0 80%;
    max-width: 80%;
}
	
#pisos.pb #unidadA, #pisos.pb #unidadB {
	background-position: center top 55px;
	background-image: url(../img/back_unidades_interior.jpg);
	background-repeat:no-repeat;

}
#pisos.pp #unidadA, #pisos.sp #unidadA {
	background-position: center top 55px;
	background-image: url(../img/back_unidades_interior_amar.jpg);
	background-repeat:no-repeat;

}
#pisos.pp #unidadB, #pisos.sp #unidadB {
	background-position: center top 55px;
	background-image: url(../img/back_unidades_interior_cele.jpg);
	background-repeat:no-repeat;

}
#pisos h2.section-heading {
    padding: 76px 0px 26px 35px;
	text-align:left;
}
#descargaPDF .bloque_l {
	float: right;
	margin: 33px 160px;
}
#verMAPA .bloque_l {
	float: right;
	margin: -24px 154px;
}
#descargaPDF {
	background-position: center top;
	background-color: #4d4d4f;
	background-repeat: no-repeat;
	height: 165px;
}


section#ubicacion h2.section-heading {
	padding: 0 44px;
	color: #fff;
}
section#contacto h2.section-heading {
	padding: 0 44px;
	color: #fff;
}
#ubicacion_contenido .col-lg-4 {
	padding-right: 0;
}
.gris20 {
	margin-top: 25px;
}
section#contacto h2.section-heading {
	padding: 0 44px;
	color: #fff;
}
section#proyecto h2.section-heading {
	padding-left: 60px;
	padding-right: 15px;
	padding-top: 35px;
}
.navbar-brand img {
	position: absolute;
	margin-top: 0px;
	max-width: 161px;
}
.dropdown-toggle::after {
	display: inline-block !important;
}
#ubicacion .col-lg-12.titulo {
	margin-left: 0px;
}

.planos {
	
	padding-top: 10px;
	padding-bottom: 0;
}
#ubicacion_contenido .blanco20 {
	width: 65%;
	clear: both;
	color: #fff;
	margin: 30px 0 45px 0;
}
section {
	padding: 75px 0 0 0;
}
#proyecto .col-lg-4 {
	margin-top: 0rem;
}
/*
.carousel-item {
	margin-top: 131px;
	height: calc(100vh - 131px);
}*/
.navbar-dark .navbar-brand {
	max-width: 299px;
	width: 100%;
}
section#contacto2 .form-control {
	width: 70%;
	display: inline-block;
	border-radius: 0;
}
section#contacto2 label {
	width: 29%;
	display: inline-block;
	color: #fff;
	vertical-align: top;
}
.navbar-nav {
	display: flex;
	clear: both;
}
.nonemobi {
	display: block;
}
.nonedesk {
	display: none;
}
#ourmodel .nonemobi img {
	width: 100%;
	height: 328px;
}

#mainNav {
	padding-top: 20px;
	padding-bottom: 20px;
	-webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
	-moz-transition: padding-top 0.3s, padding-bottom 0.3s;
	transition: padding-top 0.3s, padding-bottom 0.3s;
	border: none;
}
#textura {
	padding: 0;
	margin-top: 0px;
	height: 74px;
}
#proyecto h3 {
	font-size: 3.3em;
	clear: left !important;
	display: block;
	float: left;
	line-height: 1;
}
.blanco20B {
	font-size: 20px;
	line-height: 26px;
	width: 100%;
	clear: both;
}
#proyecto p {
	float: left;
}
#proyecto p.blanco20B {
	margin-top: 10px;
}
p {
	line-height: 1.35;
}
#proyecto img, #ubicacion_contenido img {
	width: 100%;
	height: auto;
}
#ourmodel .titulo {
	display: inline-block;
	height: 100px;
}
.blanco20B {
	clear: both;
}
#mainNav .navbar-brand {
	font-size: 1.75em;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	padding-top: 0;
	padding-bottom: 6px;
}
#mainNav .navbar-nav .nav-item .nav-link {
	padding: 1em 1.3em !important;
}

#mainNav ul.navbar-nav li.nav-item:last-child {
	border-right: none;
}
#mainNav.navbar-shrink {
	padding-top: 4px;
	padding-bottom: 19px;
	background-color: #F8F8FA;
}
#mainNav.navbar-shrink .navbar-brand {
	font-size: 1.25em;
	padding-top: 0;
	padding-bottom: 6px;
}
.navbar-expand-lg .navbar-nav {
}
#proyecto .col-lg-4.deta {
	padding-left: 25px;
}
#proyecto .foto {
	padding-right: 50px;
	padding-left: 0px;
}
#proyecto .titu {
	padding-right: 0;
}
#proyecto .col-lg-3 {
	-ms-flex: 0 0 23.5%;
	flex: 0 0 23.5%;
	max-width: 23.5%;
}
#proyecto .col-lg-5 {
	-ms-flex: 0 0 43%;
	flex: 0 0 43%;
	max-width: 43%;
}
#ubicacion_contenido .col-lg-4 {
	-ms-flex: 0 0 35.4%;
	flex: 0 0 35.4%;
	max-width: 35.4%;
}
#ubicacion_contenido .col-lg-8 {
	-ms-flex: 0 0 64.6%;
	flex: 0 0 64.6%;
	max-width: 64.6%;
}
#contacto2 h3 {
	padding-left: 48px;
}
#contacto2 p {
	padding-left: 48px;
}
#ourmodel {
	background-position: center top 75px;
	height: 186px;
}

#descargaPDF {
	background-image: url(../img/back_descargaPDF.jpg);
	background-position: center top;
	background-color: #4d4d4f;
	background-repeat: no-repeat;
	height: 165px;
}
#verMAPA {
	background-image: url(../img/back_googleMAPs.jpg);
	background-position: center top;
	background-color: #4d4d4f;
	background-repeat: no-repeat;
	height: 165px;
}
#ubicacion {
	background-image: url(../img/back_ubicacion.jpg);
	background-position: center top;
	background-color: #4d4d4f;
	background-repeat: no-repeat;
	height: 165px;
}
#contacto {
	background-image: url(../img/back_contacto.jpg);
	background-position: center top;
	background-repeat: no-repeat;
	height: 165px;
	color: #fff;
}
#contacto2 {
}
}

@media (min-width: 1200px) {
#ourmodel .nonemobi img {
	width: 100%;
	height: 425px;
}
}
