@mixin h2_mobile {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size:32px;
}
@mixin h2_mobile {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size:32px;
}