@mixin Body($fontWeight, $fontSize, $lineHeight, $letterSpacing) {
    font-family: 'Poppins', sans-serif;
    font-weight: $fontWeight;
    font-size: $fontSize;
    line-height: $lineHeight;
    letter-spacing: $letterSpacing;
}